<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout-styles.css">
</head>
<body>
    <div class="container">
      <div class="nav">NAV</div>
      <div class="header">HEADER</div>
      <div class="content-1">CONTENT 1</div>
      <div class="content-2">CONTENT 2</div>
      <div class="content-3">CONTENT 3</div>
      <div class="content-4">CONTENT 4</div>
      <div class="content-5">CONTENT 5</div>
      <div class="footer">FOOTER</div>
    </div>
</body>
</html>